/*Image de fond*/
.home-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:  url('./image/compte1.png');
    background-size: cover;
}

/*Barre d'en-tete*/
.top-of-page {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  background: red;
  height: 45px;
}

/*Sopra bank, Other bank, Mes comptes*/
#banques {
    list-style-type: none;
    margin-top: 45px;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

#banques li {
    float: left;
    width: 33%;
}

#banques li a {
    display: block;
    color: lightgrey;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

#banques li a.active{
  color: red;
  font-size: 19px;
  border-bottom: 2px solid red;
}

/*Design menu hamburger*/
.hamburger {
  position: relative;
  overflow: hidden;
  margin-left: cover; /*positionne le menu hamnburger*/
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}

/*Barre centrale du menu hamburger*/
.hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  right: 15px;
  height: 4px;
  background: white;
}
 
 /*Barre supérieure et inférieure du menu hamburger*/
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  content: "";
}

/*Ecart entre barre supérieur et centrale du menu hamburger*/
.hamburger span::before {
  top: -8px;
}

/*Ecart entre barre centrale et inférieure du menu hamburger*/
.hamburger span::after {
  bottom: -8px;
}

/*Logo messagerie*/
.mail{
  background: none;
  background-image: url('./image/mail.png');
  padding: 20px;
	margin: 6px;
	display: block;
	float: right;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
}

/*Logo alerte*/
.alerte{
  background: none;
  background-image: url('./image/alerte.png');
  padding: 18px;
	margin: 10px;
	display: block;
	float: right;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 26px;
  border: 0;
}

@media all and (max-width: 500px){
/*Bloc des comptes*/
  .comptes {
    background: white;
    height: 100px;
    margin: 30px 20px 20px 20px;
    border-radius: 8px;
  }
}

@media all and (min-width: 500px){
/*Bloc des comptes*/
  .comptes {
    background: whitesmoke;
    height: 100px;
    margin: 20px 10px 20px 10px;
    border-radius: 8px;
    width: 50%;
  }
  .container{
    display: flex;
    justify-content: center;
    max-width: 900px;
  }
}

