<perfect-scrollbar class="home-container" [config]="config">
    <div class="top-of-page">
        <div md-menu>
                <button class="btn" md-menu-open></button>
                <ul class="md-menu-content">
                    <li><img src="./assets/dupond.jpg"></li>
                    <li><a class="md-menu-item">Mes comptes</a></li>
                    <li><a class="md-menu-item">Mon argent</a></li>
                    <li><a class="md-menu-item">Mon budget</a></li>
                    <li><a class="md-menu-item">Mes procurations</a></li>
                    <li><a class="md-menu-item">Mes virements</a></li>
                    <li><a class="md-menu-item">Mes crédits</a></li>
                    <li><a class="md-menu-item">Mes assurances</a></li>
                    <li><a class="md-menu-item">Mes services mobiles</a></li>
                    <li><a class="md-menu-item">Mes documents</a></li>
                    <li><a class="md-menu-item">Actualités et nouveautés</a></li>
                </ul>
        </div>
    </div>

    <div class="banques"></div>
    
        <div class="comptes-cchq">CCHQ MR Pierre DUPOND</div>
        <div class="comptes-joint">Compte joint Mr et Mme Pierre DUPOND</div>
    
        <div class="epargnes-livret-a">LIVRET A</div>
        <div class="epargnes-cel">CEL</div>

        <div class="investissements-pel">PEL</div>


</perfect-scrollbar>

