/*Image de fond*/
.home-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:  url('./image/procuration.png');
    background-size: cover;
}

/*Barre d'en-tete*/
.top-of-page {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  background: red;
  height: 45px;
}

/*Design menu hamburger*/
.hamburger {
  position: relative;
  overflow: hidden;
  margin-left: cover; /*positionne le menu hamnburger*/
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}

/*Barre centrale du menu hamburger*/
.hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  right: 15px;
  height: 4px;
  background: white;
}
 
 /*Barre supérieure et inférieure du menu hamburger*/
.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  content: "";
}

/*Ecart entre barre supérieur et centrale du menu hamburger*/
.hamburger span::before {
  top: -8px;
}

/*Ecart entre barre centrale et inférieure du menu hamburger*/
.hamburger span::after {
  bottom: -8px;
}

/*Logo messagerie*/
.mail{
  background: none;
  background-image: url('./image/mail.png');
  padding: 20px;
	margin: 6px;
	display: block;
	float: right;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
}

/*Logo alerte*/
.alerte{
  background: none;
  background-image: url('./image/alerte.png');
  padding: 18px;
	margin: 10px;
	display: block;
	float: right;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 26px;
  border: 0;
}