<ul id="menu">
    <img src="./assets/dupond.jpg">
    <li><a routerLink="/Home"></a>Mes comptes</li>
    <li><a routerLink="/MonArgent"></a>Mon argent</li>
    <li><a routerLink="/MonBudget"></a>Mon budget</li>
    <li><a routerLink="/MesProcurations"></a>Mes procurations</li>
    <li><a routerLink="/MesVirements"></a>Mes virements</li>
    <li><a routerLink="/MesCredits"></a>Mes crédits</li>
    <li><a routerLink="/MesAssurances"></a>Mes assurances</li>
    <li><a routerLink="/MesServicesMobiles"></a>Mes services mobiles</li>
    <li><a routerLink="/MesDocuments"></a>Mes documents</li>
    <li><a routerLink="/ActualitésNouveautés"></a>Actualités et nouveautés</li>
</ul>
